{% extends "base.html" %}
{% block menu %}
{% endblock %}
{% block dashboard %}
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Журналы</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Журналы
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="{% url "create_journal" %}"><i class="fa fa-plus fa-fw"></i> Добавить журнал</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableJournalList" class="table table-hover">
                        <thead>
                            <th>Название журнала</th>
                            <th>Компания</th>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputJournalSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonJournalSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Пользователи</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Пользователи
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="{% url "create_new_user" %}"><i class="fa fa-plus fa-fw"></i> Добавить пользователя</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="aShowAllUsers" href=""><i class="fa fa-check"></i> Все пользователи</a>
                            </li>
                            <li>
                                <a id="aShowOperators" href=""> Операторы</a>
                            </li>
                            <li>
                                <a id="aShowProbationers" href=""> Испытуемые</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableUserList" class="table table-hover">
                        <thead>
                            <th>ФИО</th>
                            <th>Должность</th>
                            <th>Подразделение</th>
                            <th>Права</th>
                        </thead>
                        {% for item in user_list %}
                        <tr>
                            <td><a href="{% url "user_info" id=item.id %}">{{ item.get_full_name }}</a></td>
                            <td>{{ item.position }}</td>
                            <td>{{ item.department }}</td>
                            {% if item.user_type == "OPERATOR" %}
                            <td><input name="tdoperator" hidden>Оператор</td>
                            {% else %}
                            <td><input name="tdprobationer" hidden>Испытуемый</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputUserSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonUserSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/admin_profile.js"></script>
{% endblock %}