{% extends "base.html" %}
{% block style %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Создание новой программы</h3>
        </div>
    </div>
    <form id="formCreateJournal" action="{% url "create_journal" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col-lg-11">
                <div class="form-group">
                    <label for="inputFirstName">* Название программы</label>
                    <input type="text" class="form-control" id="inputName" name="name"
                           placeholder="Название программы" required>
                </div>
            </div>
            {% if user.user_type == "CURATOR" %}
            <div class="col-lg-11">
                <div class="form-group">
                    <label for="selectCompany"><b>Компания</b></label>
                    <p><select id="selectCompany" name="company" class="selectpicker">
                        {% for company in company_list %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-11">
                <div class="form-group">
                    <label for="inputDescription">Описание</label>
                    <textarea id="inputDescription" name="description" class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-5 col-lg-12">
                <a href="{% url "index" %}"><input type="button" class="btn btn-default" value="Отмена"/></a>
                <button id="btnSubmit" type="submit" class="btn btn-primary" name="save">Далее ></button>

            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}