{% extends "base.html" %}
{% block menu %}
{% endblock %}
{% block dashboard %}
    {% csrf_token %}
    <form id="formAddPosition" action="{% url "add_position" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalAddPosition" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddPosition">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Добавление должности</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Название должности</label>
                                    <input type="text" class="form-control" name="name" placeholder="Название должности">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Журналы</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Журналы
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="{% url "create_journal" %}"><i class="fa fa-plus fa-fw"></i> Добавить журнал</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableJournalList" class="table table-hover">
                        <thead>
                            <th id="thJournalName">Название журнала <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                            <th id="thJournalCompany">Компания <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputJournalSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonJournalSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Пользователи</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Пользователи
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="{% url "create_new_user" %}"><i class="fa fa-plus fa-fw"></i> Добавить пользователя</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="aShowAllUsers" href=""><i class="fa fa-check"></i> Все пользователи</a>
                            </li>
                            <li>
                                <a id="aShowCurators" href=""> Кураторы</a>
                            </li>
                            <li>
                                <a id="aShowAdmins" href=""> Администраторы</a>
                            </li>
                            <li>
                                <a id="aShowOperators" href=""> Операторы</a>
                            </li>
                            <li>
                                <a id="aShowProbationers" href=""> Испытуемые</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableUserList" class="table table-hover">
                        <thead>
                            <th id="thUserName">ФИО <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                            <th id="thUserPosition">Должность <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                            <th id="thUserCompany">Компания <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                            <th id="thUserType">Права <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
                        </thead>
                        {% for item in user_list %}
                        <tr>
                            <td><a href="{% url "user_info" id=item.id %}">{{ item.get_full_name }}</a></td>
                            <td>{{ item.position }}</td>
                            <td>{{ item.company }}</td>
                            {% if item.user_type == "CURATOR" %}
                            <td><input name="tdcurator" hidden>Куратор</td>
                            {% elif item.user_type == "ADMIN" %}
                            <td><input name="tdadmin" hidden>Администратор</td>
                            {% elif item.user_type == "OPERATOR" %}
                            <td><input name="tdoperator" hidden>Оператор</td>
                            {% else %}
                            <td><input name="tdprobationer" hidden>Испытуемый</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputUserSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonUserSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Компании</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Компании
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="{% url "create_new_company" %}"><i class="fa fa-plus fa-fw"></i> Добавить компанию</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableCompanyList" class="table table-hover">
                        {% for company in company_list %}
                        <tr>
                            <td><a href="{% url "edit_company" company.id %}">{{ company.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputCompanySearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonCompanySearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Должности
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a data-toggle="modal" data-target="#modalAddPosition"><i class="fa fa-plus fa-fw"></i> Добавить должность</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableCompanyList" class="table table-hover">
                        {% for position in position_list %}
                        <tr>
                            <td>
                                {{ position.name }}
                            </td>
                            <td>
                                <form id="formDeletePosition{{ forloop.counter }}" action="{% url "delete_position" id=position.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- Modal dialog delete -->
                                    <div class="modal fade" id="modalDeletePosition{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Удаление должности</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Вы действительно хотите удалить должность "{{ position.name }}"?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                    <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <button id="buttonDeletePosition{{ forloop.counter }}" type="button" data-toggle="modal"
                                        data-target="#modalDeletePosition{{ forloop.counter }}" class="btn btn-danger pull-right"
                                        title="Удалить должность">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputCompanySearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonCompanySearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/sort-elements.js"></script>
    <script src="/static/js/curator_profile.js"></script>
{% endblock %}