{% extends "base.html" %}
{% block dashboard %}
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Программы</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group custom-search-form">
                <input id="inputJournalSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonJournalSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
            <br>
        </div>
        <div class="col-lg-6">
            <a href="{% url "create_journal" %}">
                <input type="button" class="btn btn-success pull-right" value="Добавить программу"/>
            </a>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="tableJournalList" class="table table-hover">
                <thead>
                <th id="thJournalName" class="cursor-pointer"><span class="glyphicon glyphicon-sort"
                                                                    aria-hidden="true"></span> Название программы
                </th>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/sort-elements.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/sort.js"></script>
    <script src="/static/js/journals.js"></script>
{% endblock %}