{% extends "base.html" %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{ journal.name }}</h3>
        </div>
    </div>
    {% if journal.description %}
    <div class="row">
        <div class="col-lg-12">
            <blockquote>
              <p>{{ journal.description }}</p>
            </blockquote>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Список тем
                </div>
                <div class="panel-body user-panel">
                    <table id="tableThemeList" class="table table-hover">
                        {% for theme in theme_list %}
                            <tr><td>{{ theme.name }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputThemeSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonThemeSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}