{% extends "base.html" %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">{{ scheduled_theme.theme.name }}</h4>
        </div>
    </div>
    {% if scheduled_theme.status == 'ASSIGNED' %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url "theme_in_work" id=scheduled_theme.id %}"><input type="button" class="btn btn-primary pull-right" value="Начать изучение"/></a>
        </div>
    </div>
    {% elif scheduled_theme.status == 'IN_WORK' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info" role="alert">
                Изучение
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url "theme_completed" id=scheduled_theme.id %}"><input type="button" class="btn btn-success pull-right" value="Завершить изучение"/></a>
        </div>
    </div>
    {% elif scheduled_theme.status == 'COMPLETED' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">
                Тема изучена!
            </div>
        </div>
    </div>
    {% endif %}
    <p></p>
    {% if scheduled_theme.theme.description %}
    <blockquote>
      <p>{{ scheduled_theme.theme.description }}</p>
    </blockquote>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <table id="tableSubThemeList" class="table table-bordered table-hover">
                <thead>
                <th>Название подтемы</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Учебные материалы</th>
                <th>Действия</th>
                </thead>
                <tbody>
                    {% for item in scheduled_sub_theme_list %}
                        <tr>
                            <td>{{ item.sub_theme.name }}</td>
                            <td>{{ item.sub_theme.description }}</td>
                            <td>
                                {% if item.status == 'ASSIGNED' %}
                                Назначена
                                {% elif item.status == 'IN_WORK' %}
                                Изучение
                                {% elif item.status == 'COMPLETED' %}
                                Изучена
                                {% endif %}
                            </td>
                            <td>
                                {% load poll_extras %}
                                {% if item.sub_theme.id in file_dict and scheduled_theme.status != 'ASSIGNED' and scheduled_theme.status != 'COMPLETED' and item.status != 'ASSIGNED' and item.status != 'COMPLETED' %}
                                    <form id="formDownloadFile{{ forloop.counter }}" action="{% url "download_file" id=file_dict|get_item:item.sub_theme.id %}" method="post">
                                    {% csrf_token %}
                                    </form>
                                    <button id="btnDownloadFile{{ forloop.counter }}" type="button" class="btn btn-primary"
                                            title="Скачать учебные материалы" onclick="document.getElementById('formDownloadFile{{ forloop.counter }}').submit();">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                {% else %}
                                    <button id="btnDownloadFile{{ forloop.counter }}" type="button" class="btn btn-primary"
                                            title="Скачать учебные материалы" disabled>
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if scheduled_theme.status == 'IN_WORK' %}
                                    {% if item.status == 'ASSIGNED' %}
                                        <a href="{% url "sub_theme_in_work" id=item.id %}">
                                        <button id="btnStartSubTheme{{ forloop.counter }}" type="button" class="btn btn-success"
                                                title="Начать изучение подтемы">
                                            <span class="glyphicon gglyphicon glyphicon-play" aria-hidden="true"></span>
                                        </button>
                                        </a>
                                    {% elif item.status == 'IN_WORK' %}
                                        <a href="{% url "sub_theme_completed" id=item.id %}">
                                        <button id="btnStartSubTheme{{ forloop.counter }}" type="button" class="btn btn-success"
                                                title="Завершить изучение">
                                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        </a>
                                    {% else %}
                                        <button id="btnStartSubTheme{{ forloop.counter }}" type="button" class="btn btn-success"
                                                title="Изучение завершено" disabled>
                                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    {% endif %}
                                {% elif scheduled_theme.status == 'COMPLETED' %}
                                    <button id="btnStartSubTheme{{ forloop.counter }}" type="button" class="btn btn-success"
                                            title="Изучение завершено" disabled>
                                        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                {% else %}
                                    <button id="btnStartSubTheme{{ forloop.counter }}" type="button" class="btn btn-success"
                                            title="Начать изучение подтемы" disabled>
                                        <span class="glyphicon gglyphicon glyphicon-play" aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}