{% extends "base.html" %}
{% block style %}
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <form id="formCreateSubTheme" action="{% url "create_sub_theme" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalAddSubTheme" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddSubTheme">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Создание новой подтемы</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="inputSubThemeName">Введите название подтемы</label>
                                    <input type="text" class="form-control" id="inputSubThemeName" name="subThemeName" placeholder="Название подтемы" >
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="form-group">
                                    <label for="inputDescription">Описание</label>
                                    <textarea id="inputDescription" name="description" class="form-control" rows="5"></textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary" value="{{ theme.id }}">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="formScheduleTheme" action="{% url "schedule_theme" id=theme.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalScheduleTheme" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalScheduleTheme">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Назначить тему</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="selectProbationer">Выберите испытуемого</label>
                                    <p><select id="selectProbationer" name="user" class="selectpicker" data-width="100%" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputDateTo"><b>Срок до</b></label>
                                    <input id="inputDateTo" name="dateTo" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary">Назначить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"><a href="{% url "journal_settings" id=theme.journal.id %}">{{ theme.journal.name }}</a > > {{ theme.name }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Список подтем
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Меню <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalAddSubTheme">
                                    <i class="fa fa-plus fa-fw"></i> Добавить подтему
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableThemeList" class="table table-hover">
                        <thead>
                            <th>Название подтемы</th>
                            <th>Описание</th>
                            <th>Учебные материалы</th>
                            <th width="20px">Действия</th>
                        </thead>
                        {% for sub_theme in sub_theme_list %}
                            <tr>
                                <td>{{ sub_theme.name }}</td>
                                <td>{{ sub_theme.description }}</td>
                                <td>
                                {% load poll_extras %}
                                    {% if sub_theme.id in file_dict %}
                                        <form id="formDownloadFile{{ forloop.counter }}" action="{% url "download_file" id=file_dict|get_item:sub_theme.id %}" method="post">
                                        {% csrf_token %}
                                        </form>
                                        <form action="{% url "delete_file" id=file_dict|get_item:sub_theme.id %}" method="post">
                                        {% csrf_token %}
                                            <div class="modal fade" id="modalRemoveFile{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Удаление учебных материалов</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Удалить загруженные учебные материалы для подтемы "{{ sub_theme.name }}"?
                                                            <input name="subThemeId" type="text" value="{{ sub_theme.id }}" hidden>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                            <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <button id="btnUploadFile{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalUploadFile{{ forloop.counter }}" class="btn btn-success"
                                            title="Загрузить учебные материалы" disabled>
                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                        </button>
                                        <button id="btnDownloadFile{{ forloop.counter }}" type="button" class="btn btn-primary"
                                                title="Скачать учебные материалы" onclick="document.getElementById('formDownloadFile{{ forloop.counter }}').submit();">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                        </button>
                                        <button id="btnRemoveFile{{ forloop.counter }}" type="button" data-toggle="modal"
                                                data-target="#modalRemoveFile{{ forloop.counter }}" class="btn btn-danger"
                                                title="Удалить учебные материалы">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    {% else %}
                                        <form enctype="multipart/form-data" action="{% url "upload_file_to_sub_theme" %}" method="post">
                                        {% csrf_token %}
                                            <div class="modal fade" id="modalUploadFile{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Загрузка учебных материалов</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Загрузка учебных материалов для подтемы "{{ sub_theme.name }}"</p>
                                                            <input name="file" type="file" required>
                                                            <input name="subThemeId" type="text" value="{{ sub_theme.id }}" hidden>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                            <button type="submit" name="delete" class="btn btn-primary">Загрузить</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <button id="btnUploadFile{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalUploadFile{{ forloop.counter }}" class="btn btn-success"
                                            title="Загрузить учебные материалы">
                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                        </button>
                                        <button id="btnDownloadFile{{ forloop.counter }}" type="button" class="btn btn-primary"
                                                title="Скачать учебные материалы" disabled>
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                        </button>
                                        <button id="btnRemoveFile{{ forloop.counter }}" type="button" data-toggle="modal"
                                                data-target="#modalRemoveFile{{ forloop.counter }}" class="btn btn-danger"
                                                title="Удалить учебные материалы" disabled>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    {% endif %}
                                </td>
                                <td>
                                    <form action="{% url "delete_sub_theme" id=sub_theme.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- Modal dialog delete -->
                                        <div class="modal fade" id="modalDelete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Удаление подтемы</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы действительно хотите удалить подтему "{{ sub_theme.name }}"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                        <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalDelete{{ forloop.counter }}" class="btn btn-danger pull-right"
                                            title="Удалить подтему">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputThemeSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonThemeSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Статистика по пользователям</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input id="buttonScheduleTheme" type="button" class="btn btn-default pull-right" value="Назначить" data-toggle="modal" data-target="#modalScheduleTheme"/>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table id="tableUserStatisticList" class="table table-bordered table-hover">
                <thead>
                    <th>ФИО</th>
                    <th>Статус</th>
                    <th>Назначена</th>
                    <th>Срок</th>
                    <th>Прогресс</th>
                    <th>Действия</th>
                </thead>
                <tbody>
                {% for item in scheduled_theme_list %}
                    {% if item.status == 'ASSIGNED' %}
                        <tr>
                        {% elif item.status == 'IN_WORK' %}
                        <tr class="info">
                        {% elif item.status == 'COMPLETED' %}
                        <tr class="success">
                    {% endif %}
                        <td><a href="/user/info/{{ item.user.id }}/">{{ item.user.get_full_name }}</a></td>
                        {% if item.status == 'ASSIGNED' %}
                        <td>Назначена</td>
                        {% elif item.status == 'IN_WORK' %}
                        <td>Изучение</td>
                        {% elif item.status == 'COMPLETED' %}
                        <td>Изучена</td>
                        {% endif %}
                        <td>{{ item.date_from|date:"d.m.Y" }}</td>
                        <td>{{ item.date_to|date:"d.m.Y" }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.progress }}"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ item.progress }}%;">
                                    <span class="sr-only">{{ item.progress }}% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                        <form action="{% url "cancel_theme" id=item.id %}" method="post">
                            {% csrf_token %}
                            <!-- Modal dialog delete -->
                            <div class="modal fade" id="modalCancel{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Отмена назначения темы</h4>
                                        </div>
                                        <div class="modal-body">
                                            Отменить тему "{{ theme.name }}" для пользователя {{ item.user.get_full_name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                            <button type="submit" name="delete" class="btn btn-default">Да</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                data-target="#modalCancel{{ forloop.counter }}" class="btn btn-danger"
                                title="Отменить тему">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <input id="themeId" value="{{ theme.id }}" hidden>
{% endblock %}
{% block scripts %}
    <script src="/static/js/theme_settings.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}