{% extends "base.html" %}
{% block dashboard %}
    <form id="formCreateSubTheme" action="{% url "create_sub_theme" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalAddSubTheme" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddSubTheme">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Создание новой подтемы</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="inputSubThemeName">Введите название подтемы</label>
                                    <input type="text" class="form-control" id="inputSubThemeName" name="subThemeName" placeholder="Название подтемы" >
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="form-group">
                                    <label for="inputDescription">Описание</label>
                                    <textarea id="inputDescription" name="description" class="form-control" rows="5"></textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary" value="{{ theme.id }}">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><a href="{% url "journal_settings" id=theme.journal.id %}">{{ theme.journal.name }}</a > > {{ theme.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Список подтем
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Действия <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalAddSubTheme">
                                    <i class="fa fa-plus fa-fw"></i> Добавить подтему
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableThemeList" class="table table-hover">
                        {% for sub_theme in sub_theme_list %}
                            <tr>
                                <td>{{ sub_theme.name }}</td>
                                <td>
                                    <form action="{% url "delete_sub_theme" id=sub_theme.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- Modal dialog delete -->
                                        <div class="modal fade" id="modalDelete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Удаление подтемы</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы действительно хотите удалить подтему "{{ sub_theme.name }}"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                        <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalDelete{{ forloop.counter }}" class="btn btn-danger pull-right"
                                            title="Удалить подтему">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputThemeSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonThemeSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}