{% extends "base.html" %}
{% block style %}
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block backbutton %}
<li>
    <a href="{% url "journal_settings" id=theme.journal.id %}"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Назад</a>
</li>
{% endblock %}
{% block dashboard %}
    <form id="formCreateSubTheme" action="{% url "create_sub_theme" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalAddSubTheme" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddSubTheme">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Создание новой подтемы</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="inputSubThemeName">Введите название подтемы</label>
                                    <input type="text" class="form-control" id="inputSubThemeName" name="subThemeName" placeholder="Название подтемы" >
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="form-group">
                                    <label for="inputDescription">Описание</label>
                                    <textarea id="inputDescription" name="description" class="form-control" rows="5"></textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary" value="{{ theme.id }}">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="formScheduleTheme" action="{% url "schedule_theme" id=theme.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalScheduleTheme" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalScheduleTheme">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Назначить тему</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="selectProbationer">Выберите испытуемого</label>
                                    <p><select id="selectProbationer" name="user" class="selectpicker" data-width="100%" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="datepickerThemeDateTo"><b>Срок до</b></label>
                                    <div class='input-group date' id='datepickerThemeDateTo'>
                                        <input type='text' name="dateTo" class="form-control" required/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary">Назначить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="formScheduleExam" action="{% url "schedule_exam" id=theme.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalScheduleExam" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalScheduleExam">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Назначить зачёт по теме</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="selectExamProbationer">Выберите испытуемого</label>
                                    <p><select id="selectExamProbationer" name="user" class="selectpicker" data-width="100%" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Дата и время проведения зачёта</b></label>
                                    <div class='input-group date' id='datetimepickerExamDateTo'>
                                        <input type='text' name="datetime" class="form-control" required/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="selectExaminer">Выберите экзаменатора</label>
                                    <p><select id="selectExaminer" name="examiner" class="selectpicker" data-width="100%" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputExamPlace"><b>Укажите место проведения зачёта</b></label>
                                    <input id="inputExamPlace" name="place" type="text" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary">Назначить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"><a href="{% url "journal_settings" id=theme.journal.id %}">{{ theme.journal.name }}</a > > {{ theme.name }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Список подтем
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Меню <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalAddSubTheme">
                                    <i class="fa fa-plus fa-fw"></i> Добавить подтему
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body user-panel">
                    <table id="tableThemeList" class="table table-hover">
                        <thead>
                            <th>Название подтемы</th>
                            <th>Описание</th>
                            <th>Учебные материалы</th>
                            <th width="110px">Действия</th>
                        </thead>
                        {% for sub_theme in sub_theme_list %}
                            <tr>
                                <td>{{ sub_theme.name }}</td>
                                <td>{{ sub_theme.description }}</td>
                                <td>
                                    <a href="{% url "manage_files" id=sub_theme.id %}"><button type="button" class="btn btn-success"
                                            title="Учебные материалы">
                                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                    </button></a>
                                </td>
                                <td>
                                    <form action="{% url "delete_sub_theme" id=sub_theme.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- Modal dialog delete -->
                                        <div class="modal fade" id="modalDelete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Удаление подтемы</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы действительно хотите удалить подтему "{{ sub_theme.name }}"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                        <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="formEditSubTheme{{ forloop.counter }}" action="{% url "edit_sub_theme" id=sub_theme.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div id="modalEditSubTheme{{ forloop.counter }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddTheme">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Редактирование подтемы</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>Название подтемы</label>
                                                                    <input type="text" class="form-control" name="subThemeName" placeholder="Название подтемы" value="{{ sub_theme.name }}" >
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                    <label>Описание</label>
                                                                    <textarea name="description" class="form-control" rows="5">{{ sub_theme.description }}</textarea>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                        <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button id="btnEdit{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalEditSubTheme{{ forloop.counter }}" class="btn btn-primary"
                                            title="Редактировать подтему">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                            data-target="#modalDelete{{ forloop.counter }}" class="btn btn-danger"
                                            title="Удалить подтему">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer input-group custom-search-form">
                    <input id="inputThemeSearch" type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button id="buttonThemeSearch" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Статистика по пользователям</h4>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li id="liStudy" role="presentation" class="active"><a id="aStudy" href="#">Изучение темы</a>
        </li>
        <li id="liExam" role="presentation"><a id="aExam" href="#">Зачёты</a>
        </li>
    </ul>
    <p></p>
    <div id="divStudy">
        <div class="row">
            <div class="col-lg-12">
                <input id="buttonScheduleTheme" type="button" class="btn btn-default pull-right" value="Назначить" data-toggle="modal" data-target="#modalScheduleTheme"/>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-12">
                <table id="tableUserStatisticList" class="table table-bordered table-hover">
                    <thead>
                        <th>ФИО</th>
                        <th>Статус</th>
                        <th>Назначена</th>
                        <th>Срок</th>
                        <th>Прогресс</th>
                        <th width="110px">Действия</th>
                    </thead>
                    <tbody>
                    {% for item in scheduled_theme_list %}
                        {% if item.status == 'ASSIGNED' %}
                            <tr>
                            {% elif item.status == 'IN_WORK' %}
                            <tr class="info">
                            {% elif item.status == 'OVERDUE' %}
                            <tr class="danger">
                            {% elif item.status == 'COMPLETED' %}
                            <tr class="success">
                        {% endif %}
                            <td><a href="/user/info/{{ item.user.id }}/">{{ item.user.get_full_name }}</a></td>
                            {% if item.status == 'ASSIGNED' %}
                            <td>Назначена</td>
                            {% elif item.status == 'IN_WORK' %}
                            <td>Изучение</td>
                            {% elif item.status == 'COMPLETED' %}
                            <td>Изучена</td>
                            {% elif item.status == 'OVERDUE' %}
                            <td>Просрочена</td>
                            {% endif %}
                            <td>{{ item.date_from|date:"d.m.Y" }}</td>
                            <td>{{ item.date_to|date:"d.m.Y" }}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.progress }}"
                                         aria-valuemin="0" aria-valuemax="100" style="width: {{ item.progress }}%;">
                                        {{ item.progress }}%
                                    </div>
                                </div>
                            </td>
                            <td>
                            <form action="{% url "cancel_theme" id=item.id %}" method="post">
                                {% csrf_token %}
                                <!-- Modal dialog delete -->
                                <div class="modal fade" id="modalCancel{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Отмена назначения темы</h4>
                                            </div>
                                            <div class="modal-body">
                                                Отменить тему "{{ theme.name }}" для пользователя {{ item.user.get_full_name }}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                <button type="submit" name="delete" class="btn btn-default">Да</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="formEditScheduledTheme{{ forloop.counter }}" action="{% url "edit_scheduled_theme" id=item.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div id="modalEditScheduledTheme{{ forloop.counter }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEditScheduledThemeLabel">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="modalEditScheduledThemeLabel">Изменение срока изучения темы</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="datepickerChangeThemeDateTo{{ forloop.counter }}"><b>Срок до</b></label>
                                                            <div class='input-group date' id='datepickerChangeThemeDateTo{{ forloop.counter }}'>
                                                                <input type='text' name="dateTo" class="form-control" value="{{ item.date_to|date:"d.m.Y" }}" required/>
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button id="btnEditScheduledTheme{{ forloop.counter }}" type="button" data-toggle="modal"
                                    data-target="#modalEditScheduledTheme{{ forloop.counter }}" class="btn btn-primary"
                                    title="Редактировать">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                    data-target="#modalCancel{{ forloop.counter }}" class="btn btn-danger"
                                    title="Отменить тему">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="divExam" hidden>
        <div class="row">
            <div class="col-lg-12">
                <input id="buttonScheduleExam" type="button" class="btn btn-default pull-right" value="Назначить зачёт" data-toggle="modal" data-target="#modalScheduleExam"/>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-12">
                <table id="tableUserStatisticList" class="table table-bordered table-hover">
                    <thead>
                        <th>ФИО</th>
                        <th>Дата и время</th>
                        <th>Место</th>
                        <th>Экзаменатор</th>
                        <th>Результат</th>
                        <th width="150px">Действия</th>
                    </thead>
                    <tbody>
                        {% for exam in exam_list %}
                        <tr>
                            <td><a href="{% url "user_info" id=exam.user.id %}">{{ exam.user.get_full_name }}</a></td>
                            <td>{{ exam.datetime|date:"d.m.Y H:i" }}</td>
                            <td>{{ exam.place }}</td>
                            <td><a href="{% url "user_info" id=exam.examiner.id %}/">{{ exam.examiner.get_full_name }}</a></td>
                            <td>{{ exam.result|default:"" }}</td>
                            <td>
                                <form action="{% url "cancel_exam" id=exam.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- Modal dialog delete -->
                                    <div class="modal fade" id="modalCancelExam{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Отмена зачёта</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Отменить зачёт для пользователя {{ exam.user.get_full_name }}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                                    <button type="submit" name="delete" class="btn btn-default">Да</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="formEditExam{{ forloop.counter }}" action="{% url "edit_exam" id=exam.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div id="modalEditExam{{ forloop.counter }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEditExamLabel">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="modalEditExamLabel">Редактирование зачёта</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label><b>Дата и время проведения зачёта</b></label>
                                                                    <div class='input-group date' id='datetimepickerChangeExamDateTo{{ forloop.counter }}'>
                                                                        <input type='text' name="datetime" class="form-control" value="{{ exam.datetime|date:"d.m.Y H:i" }}" required/>
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>Выберите экзаменатора</label>
                                                                    <p><select name="examiner" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        {% for examiner in examiner_list %}
                                                                            {% if exam.examiner == examiner %}
                                                                            <option value="{{ examiner.id }}" selected>{{ examiner.get_full_name }}</option>
                                                                            {% else %}
                                                                            <option value="{{ examiner.id }}">{{ examiner.get_full_name }}</option>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label><b>Укажите место проведения зачёта</b></label>
                                                                    <input name="place" type="text" class="form-control" value="{{ exam.place }}" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input name="user" type="text" value="{{ exam.user.id }}" hidden>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                        <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% if user == exam.examiner %}
                                    <form action="{% url "set_result" id=exam.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- Modal dialog delete -->
                                        <div class="modal fade" id="modalSetResult{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Поставить оценку</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label>Оценка</label>
                                                        <input type="number" class="form-control" name="result" value="{{ exam.result }}" min="0" max="100" step="0.01">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                                                        <button type="submit" name="ok" class="btn btn-primary">Да</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button id="btnSetResult{{ forloop.counter }}" type="button" data-toggle="modal"
                                        data-target="#modalSetResult{{ forloop.counter }}" class="btn btn-success"
                                        title="Поставить оценку">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-success"
                                        title="Поставить оценку" disabled>
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                                <button id="btnEditExam{{ forloop.counter }}" type="button" data-toggle="modal"
                                        data-target="#modalEditExam{{ forloop.counter }}" class="btn btn-primary"
                                        title="Редактировать">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button id="btnDelExam{{ forloop.counter }}" type="button" data-toggle="modal"
                                        data-target="#modalCancelExam{{ forloop.counter }}" class="btn btn-danger"
                                        title="Отменить зачёт">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input id="themeId" value="{{ theme.id }}" hidden>
{% endblock %}
{% block scripts %}
    <script src="/static/js/theme_settings.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}