{% extends "base.html" %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Создание нового пользователя</h3>
        </div>
    </div>
    <form id="formCreateNewUser" action="{% url "create_new_user" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="form-group col-lg-4">
                <img id="impPreview"
                     data-src="holder.js/200x200/auto/white"
                     alt="Photo" width="200" height="200">
                <p></p>
                <input id="inputPhoto" name="photo" type="file" accept="image/*" onchange="onPreview(this)">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="form-group">
                        <label for="inputEmail">* e-mail (на данную почту будут отправлены регистрационные данные)</label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                               placeholder="e-mail" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputLastName">* Фамилия</label>
                        <input type="text" class="form-control" id="inputLastName" name="lastName"
                               placeholder="Фамилия" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputFirstName">* Имя</label>
                        <input type="text" class="form-control" id="inputFirstName" name="firstName"
                               placeholder="Имя" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputMiddleName">Отчество</label>
                        <input type="text" class="form-control" id="inputMiddleName" name="middleName"
                               placeholder="Отчество">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputDateOfBirth"><b>* Дата рождения:</b></label>
                        <input id="inputDateOfBirth" name="dateOfBirth" type="date" class="form-control" required>
                    </div>
                </div>
                <label class="control-label" for="divGender">Пол:</label>
                <div id="divGender" class="row">
                    <div class="col-lg-6">
                        <input id="radioMale" type="radio" name="gender" value="MALE" checked>Мужской
                    </div>
                    <div class="col-lg-6">
                        <input id="radioFemale" type="radio" name="gender" value="FEMALE">Женский
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="inputCompany">Компания</label>
                        <input type="text" class="form-control" id="inputCompany" name="company"
                               placeholder="Компания">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputDepartment">Подразделение</label>
                        <input type="text" class="form-control" id="inputDepartment" name="department"
                               placeholder="Подразделение">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputPosition">Должность</label>
                        <input type="text" class="form-control" id="inputPosition" name="position"
                               placeholder="Должность">
                    </div>
                </div>
                {% if user.user_type == "ADMIN" %}
                    <label class="control-label" for="divGender">Тип пользователя:</label>
                        <div id="divUserType" class="row">
                            <div class="col-lg-4">
                                <input id="radioAdmin" type="radio" name="userType" value="ADMIN">Администратор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioOperator" type="radio" name="userType" value="OPERATOR">Оператор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioProbationer" type="radio" name="userType" value="PROBATIONER" checked>Испытуемый
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-12">
                <button id="btnSubmit" type="submit" class="btn btn-success" name="create">Создать пользователя</button>
                <a href="{% url "index" %}"><input type="button" class="btn btn-default" value="Отмена"/></a>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/user_settings.js"></script>
{% endblock %}