{% extends "base.html" %}
{% block style %}
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{ user_data.get_full_name }} (редактирование профиля)</h3>
        </div>
    </div>
    {% if show_alert_success %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">{{ message }}</div>
        </div>
    </div>
    {% endif %}
    <form id="formUserSettings" action="{% url "user_settings" id=user_data.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="form-group col-lg-4">
                {% if user_data.photo %}
                    <img id="impPreview"
                         src="{{ MEDIA_URL }}{{ user_data.photo }}"
                         alt="Photo" width="200" height="auto">
                    <p></p>
                    <input id="inputPhoto" name="photo" type="file" accept="image/*" onchange="onPreview(this)">
                {% else %}
                    <img id="impPreview"
                         data-src="holder.js/200x200/auto/white"
                         alt="Photo" width="200" height="200">
                    <p></p>
                    <input id="inputPhoto" name="photo" type="file" accept="image/*" onchange="onPreview(this)">
                {% endif %}
            </div>
        {% if user.user_type == "ADMIN" %}
            <div class="col-lg-4 col-lg-offset-1">
                <div class="row">
                    <div class="form-group">
                        <p></p>
                        <a href="{% url "delete_user" id=user_data.id %}"><input type="button" class="btn btn-danger pull-right" value="Удалить пользователя"/></a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <p></p>
                        <a href="{% url "give_new_password" id=user_data.id %}"><input type="button" class="btn btn-default pull-right" value="Выдать пользователю новый пароль"/></a>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="form-group">
                        <label for="inputEmail">* e-mail</label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                               placeholder="e-mail" value="{{ user_data.email }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputLastName">* Фамилия</label>
                        <input type="text" class="form-control" id="inputLastName" name="lastName"
                               placeholder="Фамилия" value="{{ user_data.last_name }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputFirstName">* Имя</label>
                        <input type="text" class="form-control" id="inputFirstName" name="firstName"
                               placeholder="Имя" value="{{ user_data.first_name }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputMiddleName">Отчество</label>
                        <input type="text" class="form-control" id="inputMiddleName" name="middleName"
                               placeholder="Отчество" value="{{ user_data.middle_name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputDateOfBirth"><b>* Дата рождения:</b></label>
                        <input id="inputDateOfBirth" name="dateOfBirth" type="date" class="form-control" value="{{ user_data.date_of_birth|date:"Y-m-d" }}" required>
                    </div>
                </div>
                <label class="control-label" for="divGender">Пол:</label>
                {% if user_data.gender == "MALE" %}
                <div id="divGender" class="row">
                    <div class="col-lg-6">
                        <input id="radioMale" type="radio" name="gender" value="MALE" checked>Мужской
                    </div>
                    <div class="col-lg-6">
                        <input id="radioFemale" type="radio" name="gender" value="FEMALE">Женский
                    </div>
                </div>
                {% else %}
                    <div id="divGender" class="row">
                        <div class="col-lg-6">
                            <input id="radioMale" type="radio" name="gender" value="MALE">Мужской
                        </div>
                        <div class="col-lg-6">
                            <input id="radioFemale" type="radio" name="gender" value="FEMALE" checked>Женский
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="selectCompany"><b>Компания</b></label>
                        <p><select id="selectCompany" name="company" class="selectpicker">
                            {% for company in company_list %}
                                {% if company == user_data.company %}
                                    <option value="{{ company.id }}" selected>{{ company }}</option>
                                {% else %}
                                    <option value="{{ company.id }}">{{ company }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="selectDepartment"><b>Подразделение</b></label>
                        <p><select id="selectDepartment" name="department" class="selectpicker">
                            {% for department in department_list %}
                                {% if department == user_data.department %}
                                    <option value="{{ department.id }}" selected>{{ department }}</option>
                                {% else %}
                                    <option value="{{ department.id }}">{{ department }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputPosition">Должность</label>
                        <input type="text" class="form-control" id="inputPosition" name="position"
                               placeholder="Должность" value="{{ user_data.position }}">
                    </div>
                </div>

                {% if user.user_type == "ADMIN" %}
                    <label class="control-label" for="divGender">Тип пользователя:</label>
                    {% if user_data.user_type == "ADMIN" %}
                        <div id="divUserType" class="row">
                            <div class="col-lg-4">
                                <input id="radioAdmin" type="radio" name="userType" value="ADMIN" checked>Администратор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioOperator" type="radio" name="userType" value="OPERATOR">Оператор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioProbationer" type="radio" name="userType" value="PROBATIONER">Испытуемый
                            </div>
                        </div>
                    {% elif user_data.user_type == "OPERATOR" %}
                        <div id="divUserType" class="row">
                            <div class="col-lg-4">
                                <input id="radioAdmin" type="radio" name="userType" value="ADMIN">Администратор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioOperator" type="radio" name="userType" value="OPERATOR" checked>Оператор
                            </div>
                            <div class="col-lg-4">
                                <input id="radioProbationer" type="radio" name="userType" value="PROBATIONER">Испытуемый
                            </div>
                        </div>
                    {% else %}
                       <div id="divUserType" class="row">
                           <div class="col-lg-4">
                               <input id="radioAdmin" type="radio" name="userType" value="ADMIN">Администратор
                           </div>
                           <div class="col-lg-4">
                               <input id="radioOperator" type="radio" name="userType" value="OPERATOR">Оператор
                           </div>
                           <div class="col-lg-4">
                               <input id="radioProbationer" type="radio" name="userType" value="PROBATIONER" checked>Испытуемый
                           </div>
                       </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-12">
                <button id="btnSubmit" type="submit" class="btn btn-success" name="save">Сохранить изменения</button>
                <a href="{% url "index" %}"><input type="button" class="btn btn-default" value="Отмена"/></a>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/user_settings.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}