{% extends "base.html" %}
{% block style %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            {% if isCreate %}
                <h3 class="page-header">Создание нового пользователя</h3>
            {% else %}
                <h3 class="page-header">{{ user_data.get_full_name }} (редактирование профиля)</h3>
            {% endif %}
        </div>
    </div>
    {% if not user_data.is_active %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning" role="alert">
                Уволен
            </div>
        </div>
    </div>
    {% endif %}
    {% if isCreate %}
        <form id="formCreateNewUser" action="{% url "create_new_user" %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form id="formUserSettings" action="{% url "user_settings" id=user_data.id %}" method="post"
              enctype="multipart/form-data">
    {% endif %}
{% csrf_token %}
<div class="row">
<div class="form-group col-lg-3">
    {% if user_data.photo %}
        <img id="impPreview"
             src="{{ MEDIA_URL }}{{ user_data.photo }}"
             alt="Photo" width="200" height="auto" style="height:auto !important;">
        <p></p>
        <input id="inputPhoto" name="photo" type="file" accept="image/*" onchange="onPreview(this)">
    {% else %}
        <img id="impPreview"
             src="{{ STATIC_URL }}img/default_user_icon.jpg"
             alt="Photo" width="200" height="200">
        <p></p>
        <input id="inputPhoto" name="photo" type="file" accept="image/*" onchange="onPreview(this)">
    {% endif %}
    {% if user.user_type != "PROBATIONER" and not isCreate and user != user_data %}
        <div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog"
             aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalDeleteUserLabel">Удаление пользователя</h4>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить пользователя "{{ user_data.get_full_name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                        <a href="{% url "delete_user" id=user_data.id %}">
                            <button type="button" name="delete" class="btn btn-default">Да</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if user_data.is_active %}
        <div class="modal fade" id="modalFireUser" tabindex="-1" role="dialog"
             aria-labelledby="modalFireUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalFireUserLabel">Увольнение пользователя</h4>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите уволить пользователя "{{ user_data.get_full_name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                        <a href="{% url "fire_user" id=user_data.id %}">
                            <button type="button" name="delete" class="btn btn-default">Да</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="modal fade" id="modalHireUser" tabindex="-1" role="dialog"
             aria-labelledby="modalHireUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalHireUserLabel">Принять на работу</h4>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите принять на работу пользователя "{{ user_data.get_full_name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                        <a href="{% url "hire_user" id=user_data.id %}">
                            <button type="button" name="delete" class="btn btn-default">Да</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url "give_new_password" id=user_data.id %}">
                    <button type="button" class="btn btn-primary" style="width: 200px">Выдать новый пароль</button>
                </a>
            </div>
        </div>
        <br>
        {% if user_data.is_active %}
        <div class="row">
            <div class="col-lg-12">
                <button type="button" data-toggle="modal" data-target="#modalFireUser" class="btn btn-warning" style="width: 200px">Уволить пользователя</button>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <button type="button" data-toggle="modal" data-target="#modalHireUser" class="btn btn-warning" style="width: 200px">Принять на работу</button>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" data-toggle="modal" data-target="#modalDeleteUser" class="btn btn-danger"
                        style="width: 200px">
                    Удалить пользователя
                </button>
            </div>
        </div>

    {% endif %}
</div>
<div class="col-lg-3">
    <div class="row">
        <div class="form-group">
            <label for="inputUsername">* Логин</label>
            <input type="text" class="form-control" id="inputUsername" name="username"
                   placeholder="Логин" value="{{ user_data.username|default:"" }}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputEmail">* e-mail</label>
            <input type="email" class="form-control" id="inputEmail" name="email"
                   placeholder="e-mail" value="{{ user_data.email|default:"" }}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputLastName">* Фамилия</label>
            <input type="text" class="form-control" id="inputLastName" name="lastName"
                   placeholder="Фамилия" value="{{ user_data.last_name|default:"" }}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputFirstName">* Имя</label>
            <input type="text" class="form-control" id="inputFirstName" name="firstName"
                   placeholder="Имя" value="{{ user_data.first_name|default:"" }}" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputMiddleName">Отчество</label>
            <input type="text" class="form-control" id="inputMiddleName" name="middleName"
                   placeholder="Отчество" value="{{ user_data.middle_name|default:"" }}">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputDateOfBirth"><b>* Дата рождения:</b></label>

            <div class='input-group date' id='datetimepickerDateOfBirth'>
                <input type='text' name="dateOfBirth" class="form-control"
                       value="{{ user_data.date_of_birth|date:"d.m.Y" }}" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-lg-offset-1">
    {% if user_data.gender == "MALE" %}
        <div class="row">
            <div class="form-group">
                <label for="selectGender"><b>Пол:</b></label>

                <p><select id="selectGender" name="gender" class="selectpicker">
                    <option value="MALE" selected>Мужской</option>
                    <option value="FEMALE">Женский</option>
                </select></p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="form-group">
                <label for="selectCompany"><b>Пол:</b></label>

                <p><select id="selectGender" name="gender" class="selectpicker">
                    <option value="MALE">Мужской</option>
                    <option value="FEMALE" selected>Женский</option>
                </select></p>
            </div>
        </div>
    {% endif %}
    {% if user.user_type == "CURATOR" %}
        {% if user_data.user_type == "CURATOR" %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="CURATOR" selected>Куратор</option>
                        <option value="ADMIN">Администратор</option>
                        <option value="OPERATOR">Оператор</option>
                        <option value="PROBATIONER">Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% elif user_data.user_type == "ADMIN" %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="CURATOR">Куратор</option>
                        <option value="ADMIN" selected>Администратор</option>
                        <option value="OPERATOR">Оператор</option>
                        <option value="PROBATIONER">Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% elif user_data.user_type == "OPERATOR" %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="CURATOR">Куратор</option>
                        <option value="ADMIN">Администратор</option>
                        <option value="OPERATOR" selected>Оператор</option>
                        <option value="PROBATIONER">Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="CURATOR">Куратор</option>
                        <option value="ADMIN">Администратор</option>
                        <option value="OPERATOR">Оператор</option>
                        <option value="PROBATIONER" selected>Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% endif %}
    {% elif user.user_type == "ADMIN" and user != user_data %}
        {% if user_data.user_type == "OPERATOR" %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="OPERATOR" selected>Оператор</option>
                        <option value="PROBATIONER">Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="form-group">
                    <label for="selectUserType"><b>Тип пользователя:</b></label>

                    <p><select id="selectUserType" name="userType" class="selectpicker">
                        <option value="OPERATOR">Оператор</option>
                        <option value="PROBATIONER" selected>Испытуемый</option>
                    </select></p>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="form-group">
            <label for="selectCompany"><b>Компания</b></label>

            <p><select id="selectCompany" name="company" class="selectpicker">
                {% for company in company_list %}
                    {% if company == user_data.company %}
                        <option value="{{ company.id }}" selected>{{ company }}</option>
                    {% else %}
                        <option value="{{ company.id }}">{{ company }}</option>
                    {% endif %}
                {% endfor %}
            </select></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="selectDepartment"><b>Подразделение</b></label>

            <p><select id="selectDepartment" name="department" class="selectpicker">
                {% for department in department_list %}
                    {% if department == user_data.department %}
                        <option value="{{ department.id }}" selected>{{ department }}</option>
                    {% else %}
                        <option value="{{ department.id }}">{{ department }}</option>
                    {% endif %}
                {% endfor %}
            </select></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="selectPosition"><b>Должность</b></label>

            <p><select id="selectPosition" name="position" class="selectpicker" {% if not position_list %}
                       disabled {% endif %}>
                {% for position in position_list %}
                    {% if position == user_data.position %}
                        <option value="{{ position.id }}" selected>{{ position }}</option>
                    {% else %}
                        <option value="{{ position.id }}">{{ position }}</option>
                    {% endif %}
                {% endfor %}
            </select></p>
        </div>
    </div>
</div>
</div>
<br>
<div class="row">
    <div class="col-lg-offset-4 col-lg-12">
        {% if isCreate %}
            <button id="btnSubmit" type="submit" class="btn btn-success" name="create">Создать пользователя</button>
        {% else %}
            <button id="btnSubmit" type="submit" class="btn btn-success" name="save">Сохранить изменения</button>
        {% endif %}
        <a href="{% url "index" %}"><input type="button" class="btn btn-default" value="Отмена"/></a>
    </div>
</div>
</form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/user_settings.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}