{% extends "base.html" %}
{% block style %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <br>
    <br>
    <form id="formCreateNewQuestion" action="{% url "add_question" id=test_id  %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="inputQuestion">Вопрос:</label>
                    <textarea id="inputQuestion" name="question" class="form-control" rows="5" required></textarea>
                </div>

                <label for="divImage">Изображение:</label>

                <div id="divImage" class="form-group">
                    <div id="divImagePreview" hidden>
                    <img id="impPreview" class="img-thumbnail"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Изображение" width="50" height="50">
                    </div>
                    <p></p>
                    <input id="inputPicture" name="image" type="file" onchange="onPreview(this)">
                </div>

                {% if type_list %}
                    <label for="selectType"><b>Тип вопроса:</b></label>
                    <select id="selectType" name="type" class="selectpicker form-control">
                        {% for type in type_list %}
                            <option value="{{ forloop.counter }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <p></p>
                <div id="divCloseAnswer">
                    <label>Варианты ответа:</label>

                    <div id="divAnswer1">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <input id="isTrueAnswer1" name="trueAnswer" value="1" type="checkbox">
                        </span>
                            <input id="inputAnswer1" name="answer1" type="text" class="form-control" required>
                        </div>
                    </div>
                    <p id="pAnswer1"></p>
                    <div id="divAnswer2">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <input id="isTrueAnswer2" name="trueAnswer" value="2" type="checkbox">
                        </span>
                            <input id="inputAnswer2" name="answer2" type="text" class="form-control" required>
                        </div>
                    </div>
                    <p id="pAnswer2"></p>
                    <div id="divAnswer3">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <input id="isTrueAnswer3" name="trueAnswer" value="3" type="checkbox">
                        </span>
                            <input id="inputAnswer3" name="answer3" type="text" class="form-control">
                        </div>
                    </div>
                    <p id="pAnswer3"></p>
                    <div id="divAnswer4"></div>
                    <p id="pAnswer4"></p>
                </div>
                <div id="divOpenAnswer" hidden>
                    <div class="form-group">
                        <label class="control-label" for="inputOpenAnswer">Введите правильный ответ:</label>
                        <input id="inputOpenAnswer" name="openAnswer" type="text" class="form-control">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="checkManually" value="checkManually">Проверять вручную</label>
                    </div>
                </div>
                <p></p>

                <div id="divAddDel" class="row">
                    <div class="col-lg-6">
                        <button id="btnAddAnswer" type="button" class="btn btn-success">Добавить</button>
                        <button id="btnDeleteAnswer" type="button" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <a href="{% url "edit_test" id=test_id %}"><input type="button" class="btn btn-default" value="Отмена"/></a>
                    <button id="btnSave" type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/create_question.js"></script>
{% endblock %}