{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block dashboard %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Редактирование теста "{{ test.name }}"</h3>
        </div>
    </div>
    <form action="{% url "edit_test" id=test.id %}" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Общая информация:</b>
            </div>
            <div class="panel-body">
            <div class="">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label" for="inputTestName"><b>Название теста:</b></label>
                        <input id="inputTestName" name="name" type="text" class="form-control" value="{{ test.name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Описание:</label>
                        <textarea id="inputDescription" name="description" class="form-control" rows="5">{{ test.description }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="centered">
                        <button id="btnSave" name="save" value="true" type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Список вопросов:</b>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-lg-9">Название</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in question_list %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ question.get_question }}</td>
                    <td>
                        <form action="{% url "delete_question" id=test.id %}" method="post">
                            {% csrf_token %}
                            <!-- Modal dialog delete -->
                            <div class="modal fade" id="modalDeleteQuestion{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Удаление вопроса</h4>
                                        </div>
                                        <div class="modal-body">
                                            Вы действительно хотите удалить вопрос №{{ forloop.counter }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                            <button type="submit" name="delete" value="{{ forloop.counter }}" class="btn btn-default">Да</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                            <button id="btnEdit{{ forloop.counter }}" type="submit"
                                    class="btn btn-primary" name="edit" value="{{ forloop.counter }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                    data-target="#modalDeleteQuestion{{ forloop.counter }}" class="btn btn-danger"
                                    title="Удалить вопрос">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                    </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 centered">
            <form action="{% url "add_question" id=test.id %}" method="post">
                {% csrf_token %}
                <button id="btnAdd" type="submit"
                    class="btn btn-primary" name="add" value="{{ forloop.counter }}">
                    Добавить вопроc
                </button>
            </form>
        </div>
    </div>
{% endblock %}