{% extends "base.html" %}
{% block style %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block dashboard %}
    <form id="formScheduleTest" action="{% url "schedule_test" id=test.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="modalScheduleTest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalScheduleTestLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalScheduleTestLabel">Назначить тест</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="selectProbationer">Выберите испытуемого</label>
                                    <p><select id="selectProbationer" name="user" class="selectpicker" data-width="100%" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputDateTo"><b>Срок до</b></label>
                                    <input id="inputDateTo" name="dateTo" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" name="save" class="btn btn-primary">Назначить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Статистика по тесту "{{ test.name }}"</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input id="buttonScheduleTest" type="button" class="btn btn-default pull-right" value="Назначить" data-toggle="modal" data-target="#modalScheduleTest"/>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table id="tableTestStatistic" class="table table-bordered table-hover">
                <thead>
                    <th>ФИО</th>
                    <th>Статус</th>
                    <th>Назначен</th>
                    <th>Срок</th>
                    <th>Результат</th>
                    <th>Действия</th>
                </thead>
                <tbody>
                {% for item in journal_list %}
                    {% if item.status == 'ASSIGNED' %}
                        <tr>
                    {% elif item.status == 'COMPLETED' %}
                        <tr class="success">
                    {% endif %}
                        <td><a href="/user/info/{{ item.user.id }}/">{{ item.user.get_full_name }}</a></td>
                        {% if item.status == 'ASSIGNED' %}
                        <td>Назначен</td>
                        {% elif item.status == 'COMPLETED' %}
                        <td>Пройден</td>
                        {% endif %}
                        <td>{{ item.date_from|date:"d.m.Y" }}</td>
                        <td>{{ item.date_to|date:"d.m.Y" }}</td>
                        <td>
                        {% if item.status == 'COMPLETED' %}
                            {{ item.result }}
                        {% endif %}
                        </td>
                        <td>
                        <form action="{% url "cancel_test" id=item.id %}" method="post">
                            {% csrf_token %}
                            <!-- Modal dialog delete -->
                            <div class="modal fade" id="modalCancel{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Отмена назначения теста</h4>
                                        </div>
                                        <div class="modal-body">
                                            Отменить тест "{{ test.name }}" для пользователя {{ item.user.get_full_name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
                                            <button type="submit" name="delete" class="btn btn-default">Да</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button id="btnDel{{ forloop.counter }}" type="button" data-toggle="modal"
                                data-target="#modalCancel{{ forloop.counter }}" class="btn btn-danger"
                                title="Отменить тест">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<input id="testId" value="{{ test.id }}" hidden>
{% endblock %}
{% block scripts %}
    <script src="/static/js/test_settings.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
{% endblock %}